
@font-face {
  font-family: 'essential-light';
  src: url('essential-light.eot?#iefix') format('embedded-opentype'),  url('essential-light.woff') format('woff'), url('essential-light.ttf')  format('truetype'), url('essential-light.svg#essential-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
