
@font-face {
  font-family: 'essential-regular';
  src: url('essential-regular.eot?#iefix') format('embedded-opentype'),  url('essential-regular.woff') format('woff'), url('essential-regular.ttf')  format('truetype'), url('essential-regular.svg#essential-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
